{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
